{% extends "asktheexperts/settings.html" %}
{% load static %}

{% block div %}

        <div id="account-info-view" class="col">
            <div id="photo-settings" class="col">
                <br>
                <img class="img-fluid" src="{{ user.photo.url }}" height="200px" width="200px">
                <div class="row justify-content-center" style="margin-top:10px">
                    <a href="{% url 'change_photo' %}">
                        <button class="btn btn-sm btn-success">Change Photo</button>
                    </a>
                </div>
                <div class="row justify-content-center" style="margin-top:10px">
                    <form action="{% url 'remove_photo' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="btn btn-sm btn-danger" type="submit" value="Remove Photo">
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div>
                <h3>
                    Username: {{ user.username }}
                    
                </h3>
            </div>
            <div>
                <h4>
                    Email: {{ user.email }}
                </h4>
            </div>
            <div>
                <h4>
                    Password: ***************
                </h4>
            </div>
        </div>

{% endblock %}