{% extends "asktheexperts/settings.html" %}
{% load static %}

{% block div %}

    {% if message %}
        <div class="message-alert">{{ message }}</div>
    {% endif %}

    <div id="change-username-view" class="justify-content-center">
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label"><strong>Current Password</strong></label>
                <input class="form-control" autofocus type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label><strong>New Password</strong></label>
                <input class="form-control" type="password" name="new_password" placeholder="Enter your new password" required>
            </div>
            <div class="form-group">
                <label><strong>Password</strong></label>
                <input class="form-control" autofocus type="password" name="confirmation" placeholder="Confirm your new password" required>
            </div>
            <input class="btn btn-block btn-success" type="submit" value="Change Password">
            <br>
        </form>
    </div>

{% endblock %}