{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block body %}

    <div class="container">
        <div class="container text-white">
            <div class="row justify-content-center">
                <div class="row align-items-center vh-100 index-div">
                    <div class="col text-center">
                        <div class="display-1">
                            <span>Ask the Experts</span>
                            <h3>Because your question matters</h3>
                        </div>
                        <br>
                        <a href="{% url 'questions' %}" class="index-button btn btn-lg btn-success">Browse Questions</a>
                        <a  href="{% url 'ask_question' %}" class="index-button white-button btn btn-lg btn-outline-success">Ask Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'asktheexperts/main.js' %}"></script>
{% endblock %}

<div class="layers-foreground">
    <div class="container text-white">
        <div id="index-div" class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8 text-center text-shadow">
                <h1 class="display-2 mb-2"><b>Ask the</b> Experts</h1>
                <h3 >Because your question matters</h3>
                <br>
                <a href="{% url 'questions' %}" class="index-button btn btn-lg btn-success">Browse Questions</a>
                <a  href="{% url 'ask_question' %}" class="index-button white-button btn btn-lg btn-outline-success">Ask Question</a>
            </div>
        </div>
    </div>
</div>