{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block body %}
    <div class="layers-foreground">
        <div class="container text-white">
          <div class="row justify-content-center align-items-center vh-100" style="max-height: 500px;">
            <div class="col-md-8 text-center text-shadow">
              <h1 class="display-2 mb-2"><b>Ask the</b> Experts</h1>
              <h3 >Because your question matters</h3>
              <br>
              <a href="#" class="index-button btn btn-lg btn-success">Browse Questions</a>
              <a  href="#" class="index-button white-button btn btn-lg btn-outline-success">Ask a Question</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
    <script src="{% static 'asktheexperts/main.js' %}"></script>
{% endblock %}