{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!--meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--icon-->
        <link href="static/logo.png" rel="icon">

        <title>{% block title %}Ask the Experts{% endblock %}</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'asktheexperts/styles.css' %}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        
        {% block script %}
        {% endblock %}
    </head>
    <body>
        
        <!--Nav bar-->
        <nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="static/logo.png" height="40px" loading="lazy">
                Ask the Experts
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}"><strong>Home</strong> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'questions' %}"><strong>Questions</strong></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'ask_question' %}"><strong>Ask Question</strong></a>
                        </li>
                        <a class="no-decoration" href="{% url 'profile' user.id user.username %}">
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <li class="nav-item active">
                                    <img src="{{ user.photo.url }}" height="40px" width="40px">
                                </li>
                                <li class="nav-item active" style="margin-left: 1px;">
                                    <span class="nav-link"><strong>{{ user.username }}</strong></span>
                                </li>
                            </div>
                        </a>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'settings' %}"><strong>Settings</strong></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}"><strong>Log Out</strong></a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}"><strong>Log In</strong></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'register' %}"><strong>Register</strong></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--Nav bar end-->

        {% block body %}
        {% endblock %}
    </body>
</html>