{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block title %}
{{ user_profile.username }} - Ask the Experts
{% endblock %}

{% block body %}

    <div id="profile-view" class="container questions white-div">
        <div class="container top-header">
            <h2 class="darkmagenta">Profile</h2>
        </div>
        <br>
        <div class="container count-buttons-div">
            <div class="row questions-count">
                <div class="col">
                    <div id="photo-box" class="col">
                        <br>
                        <img src="{{ user_profile.photo.url }}" height="200px" width="200px">
                        <br>
                        <div class="col">
                            <div id="score-box" class="row justify-content-center">
                                <span id="user-score">{{ user_profile.score }}</span>
                                <span id="score-tag">Score</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h2>
                        {{ user_profile.username }}
                        
                    </h2>
                    Joined {{ user_profile.joined }}
                </div>
                <div class="col">
                    <div id="profile-info-div" class="row">
                        <div class="col">
                            <h4><strong>{{ user_profile.questioned.count}}</strong></h4> {% if user_profile.questioned.count == 1 %} question{% else %} questions{% endif %}
                        </div>
                        <div class="col">
                            <h4><strong>{{ user_profile.answered_user.count }}</strong></h4> {% if user_profile.answered_user.count == 1 %} answer{% else %} answers{% endif %}
                        </div>
                    </div>
                    <br>
                    {% if not request.user == user_profile %}
                    <button class="btn btn-sm btn-outline-danger" id="report">Report User</button>
                    
                    <!-- Remove this-->
                    <form action="{% url 'report_user' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="reported_user" value="{{ user_profile.username }}">
                        <input class="btn btn-sm btn-outline-danger" type="submit" value="Report User">
                    </form>
                    <!--End remove-->

                    {% endif %}
                </div>
            </div>
            <br>
            <h4>Top questions <span id="profile-question-count">({{ questions.count }})</span></h4>
            <hr>
            {% for question in questions %}
                <div class="row margin-5">
                    <div class="col" id="profile-questions-div">
                        <div class="row justify-content-center">{{ question.answered_question.count }}</div>
                    </div>
                    <div class="col">
                        <a class="no-decoration" href="{% url 'question' question.id %}"><span class="darkmagenta">{{ question.title }}</span></a>
                    </div>
                </div>
                <hr>
            {% endfor %}

        </div>
    </div>

    <div id="report-form-view" class="container questions">
        <br>
        <div>
            <h2 class="darkmagenta">Report User: {{ user_profile.username }}</h2>
        </div>
        <div>

            <!--Report user form-->
            <form id="report-user-form">
                <div class="form-group">
                    <label><strong>Reason</strong></label>
                    <textarea id="reason" class="form-control" type="textarea" name="reason" placeholder="Reason" required></textarea>
                </div>
                <input type="hidden" id="reported-user" name="reported_user" value="{{ user_profile.id }}">
                <input class="btn btn-block btn-danger send-btn" type="submit" value="Report">
                <br>
            </form>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'asktheexperts/main.js' %}"></script>
{% endblock %}