{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block title %}
Questions - Ask the Experts
{% endblock %}

{% block body %}

    <div class="container questions white-div">
        <div class="container top-header">
            <h2 class="darkmagenta">Top Questions</h2>
        </div>
        <br>
        <div class="container count-buttons-div">
            <div class="row questions-count">
                <div class="col">
                    <h3>{{ questions.count }} {% if questions.count == 1 %} question{% else %} questions{% endif %}</h3>
                </div>
                <div class="col">
                    <button class="btn btn-sm btn-outline-success">Most recent</button>
                    <button class="btn btn-sm btn-outline-success">Most votes</button>
                    <button class="btn btn-sm btn-outline-success">Most answers</button>
                </div>
            </div>
            <hr>
                
            {% for question in questions %}
                <div class="row container questions-div">
                    <div class="col">
                        <div class="darkmagenta">
                            <a class="no-decoration" href="{% url 'question' question.id %}"><span class="darkmagenta">{{ question.title }}</span></a>
                        </div>
                        <br>
                        <div class="text-truncate question-content">
                            {{ question.content }}
                        </div>  
                        <div>
                            <br>
                            <a href="{% url 'profile' question.user.id question.user.username %}"><img src="{{ question.user.photo.url }}" height="30px" width="30px"></a>
                            <a class="no-decoration" href="{% url 'profile' question.user.id question.user.username %}"><span class="darkmagenta">{{ question.user.username }}</span></a>
                            <span class="timestamp">asked at {{ question.timestamp }}</span>
                        </div>  
                    </div>
                    <div class="col stats-div">
                        <div class="voted-count">
                            <div class="row justify-content-center">
                                {{ question.votes }}
                            </div>
                            <div class="row justify-content-center">
                                Votes
                            </div>
                        </div>
                        <hr>
                        <div class="darkmagenta answers-count">
                            <div class="row justify-content-center">
                                {{ question.answered_question.count }}
                            </div>
                            <div class="row justify-content-center">
                                Answers
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'asktheexperts/main.js' %}"></script>
{% endblock %}