{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block title %}
{{ question.title }} - Ask the Experts
{% endblock %}

{% block body %}

    <div class="container questions white-div">
        <br>
        <div class="container count-buttons-div">
            <h2 class="">{{ question.title }}</h2>
            <hr>
            <div class="row container questions-div">
                <div class="col">
                    <br>
                    <div class="question-content">
                        {{ question.content }}
                    </div>  
                    <div>
                        <br>
                        <a href="#"><img src="{{ question.user.photo.url }}" height="30px" width="30px"></a>
                        <a class="no-decoration" href="#"><span class="darkmagenta">{{ question.user.username }}</span></a>
                        <span class="timestamp">asked at {{ question.timestamp }}</span>
                    </div>  
                </div>
                <div class="col stats-div">
                    <div class="voted-count">
                        <div class="row justify-content-center">
                            <button class="arrow" onclick="alert('Hi')">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                </svg>
                            </button>
                        </div>
                        
                    </div>
                    <div class="row justify-content-center margin-5">
                        <h4>{{ question.question_voted.count }}</h4>
                    </div>
                    <div class="darkmagenta answers-count">
                        <div class="row justify-content-center">
                            <button class="arrow" onclick="alert('Hey')" >
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>

            <div class="row" id="answers-count-div">
                <div class="col">
                    <h5>{{ question.answered_question.count }} {% if questions.count == 1 %} Answer{% else %} Answers{% endif %}</h5>
                </div>
                <div class="col">
                    <button class="btn btn-sm btn-outline-success">Most recent</button>
                    <button class="btn btn-sm btn-outline-success">Most votes</button>
                </div>
            </div>
            <br>

            <!--for answer-->
            <div class="row container questions-div">
                <div class="col">
                    <br>
                    <div class="question-content">
                        {{ question.content }}
                    </div>  
                    <div>
                        <br>
                        <a href="#"><img src="{{ question.user.photo.url }}" height="30px" width="30px"></a>
                        <a class="no-decoration" href="#"><span class="darkmagenta">{{ question.user.username }}</span></a>
                        <span class="timestamp">answered at {{ question.timestamp }}</span>
                    </div>  
                </div>
                <div class="col stats-div">
                    <div class="voted-count">
                        <div class="row justify-content-center">
                            <button class="arrow" onclick="alert('Hi')">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                </svg>
                            </button>
                        </div>
                        
                    </div>
                    <div class="row justify-content-center margin-5">
                        <h4>{{ question.question_voted.count }}</h4>
                    </div>
                    <div class="darkmagenta answers-count">
                        <div class="row justify-content-center">
                            <button class="arrow" onclick="alert('Hey')" >
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>

            <!--Send answer form-->
            <div id="send-answer-div">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label><strong>Your Answer</strong></label>
                    <textarea class="form-control" type="textarea" name="content" placeholder="Answer" required></textarea>
                </div>
                <input id="send-question-btn" class="btn btn-block btn-success" type="submit" value="Send Answer">
                <br>
            </form>
            </div>
            <!--Ask question form end-->
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'asktheexperts/main.js' %}"></script>
{% endblock %}