{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block title %}
Report a user - Ask the Experts
{% endblock %}

{% block body %}

    <div class="container questions">
        <br>
        <div>
            <h2 class="darkmagenta">Report User</h2>
        </div>
        <div>

            <!--Report user form-->
            <form id="report-user-form">
                <div class="form-group">
                    <input id="reported-user" class="form-control" disabled value="{{ reported_user }}">
                </div>
                <div class="form-group">
                    <label><strong>Reason</strong></label>
                    <textarea id="reason" class="form-control" type="textarea" name="reason" placeholder="Reason" required></textarea>
                </div>
                <input class="btn btn-block btn-danger send-btn" type="submit" value="Report User">
                <br>
            </form>
            <!--Ask question form end-->

        </div>
    </div>

    
{% endblock %}

{% block script %}
    <script src="{% static 'asktheexperts/main.js' %}"></script>
{% endblock %}