{% extends "asktheexperts/layout.html" %}
{% load static %}

{% block title %}
Settings - Ask the Experts
{% endblock %}

{% block body %}

    <div class="container questions white-div">
        <div class="container top-header">
            <h2 class="darkmagenta">Settings</h2>
        </div>
        <br>
        <div class="container count-buttons-div">
            <hr>
            <div class="container count-buttons-div">
                <div class="row questions-count">
                    <div class="col" style="max-width: 350px;">
                        <div class="settings-button">
                            <a href="{% url 'settings' %}">
                                <button class="btn btn-sm btn-outline-success">Account Info</button><br>
                            </a>
                        </div>
                        <div class="settings-button">
                            <a href="{% url 'change_username' %}">
                                <button class="btn btn-sm btn-outline-success">Change username</button><br>
                            </a>
                        </div>
                        <div class="settings-button">
                            <a href="{% url 'change_email' %}">
                                <button class="btn btn-sm btn-outline-success">Change email</button><br>
                            </a>
                        </div>
                        <div class="settings-button">
                            <a href="{% url 'change_password' %}">
                                <button class="btn btn-sm btn-outline-success">Change password</button><br>
                            </a>
                        </div>
                        <br>
                        <div class="settings-button">
                            <a href="{% url 'delete_account' %}">
                                <button class="btn btn-sm btn-outline-danger">Delete account</button><br>
                            </a>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        {% block div %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
